body {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#logo {
    height: 40px;
    width: 120px;
    cursor: pointer;
    display: flex;

}

.gogo-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main-menu {
    display: flex;
    gap: 30px;
    cursor: pointer;
    list-style: none;
    font-size: 19px;
    padding-bottom: 15px;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
    gap: 40px;
    padding-left: 40px;

}

.navbar-right-text {
    display: flex;
}

.navbar-right-text1 {
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
}

.navbar-right-text2 {
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
    padding-left: 35px;
}

.navbar-right-text3 {
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
}

.navbar-right-subtext {
    padding-top: 5px;
    font-size: 20px;
    cursor: pointer;
    padding-left: 5px;
}

.navbar-right-text4 {
    margin-top: 0px;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
}

.navbar-right-img {
    height: 20 px;
    width: 20px;
    padding-top: 5px;
    padding-right: 5px;
}

.chevron-down {
    transform: rotate(90deg);
}

.linked-main-menu {
    top: 80px;
    background-color: white;
    padding: 0;
    padding-left: 15px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 5px 22px rgba(0, 0, 0, .15);
    border-radius: 5px;
    margin-left: -30px;
    position: absolute;
    list-style: none;
    display: none;
}

.main-menu-news:hover+.linked-main-menu {
    display: flex;

}


.column {
    display: flex;
    margin: 0;
    padding: 0;

}

ul {
    padding-left: 20px;
}

.sub-menu-text {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.main-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
}

#business-logo {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(129deg, #c40097, #d6710b);
    background-image: linear-gradient(-120deg, #e08100, #c90027);
    border-radius: 100px;
    padding: 8px 15px;
    line-height: 20px;
    width: 45px;
    height: 14px;
    font-size: 12px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 0px;
    cursor: pointer;
}

#business-logo:hover {
    display: flex;
    width: 55px;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

#share-logo {
    color: #535353;
    display: flex;
    background-color: rgb(237, 237, 237);
    align-items: center;
    border-radius: 100px;
    padding: 8px 15px;
    line-height: 20px;
    width: 30px;
    height: 23px;
    font-size: 13px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 15px;
    cursor: pointer;
}

#share-logo:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 40px;
    transition: ease-in-out;
    transition-duration: 0.3s;

}

#share-img {
    display: flex;
    height: 15px;
    width: 15px;
    opacity: 30%;
    padding-right: 5px;
}

#share-logo:hover #share-img {
    display: flex;
    rotate: 45deg;
    transition: ease-in-out;
    transition-duration: 0.3s;
    height: 18px;
    width: 18px;
}

img {
    border-radius: 5px;
}

.intro-img {
    height: 400px;
    width: 542px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.main-intro-img {
    height: 400px;
    width: 542px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.img-hover {
    height: 400px;
    width: 542px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: black;
    cursor: pointer;
    border-radius: 5px;
}

.img-hover-text {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    z-index: 2;
    opacity: 0;
    position: absolute;
}

.intro-img:hover .main-intro-img {
    scale: 1.1;
}

.intro-img:hover .img-hover {
    opacity: 0.3;
}

.intro-img:hover .img-hover-text {
    opacity: 1;
    color: white;
}

.transition {
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.intro-cards {
    width: 1100px;
    display: flex;
    gap: 15px;
    padding-top: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.intro-card1-main {
    display: flex;
    width: 264px;
    height: 175px;
    position: relative;
    overflow: hidden;

}

.intro-card-img {
    width: 264px;
    height: 175px;
}

.intro-card-hover {
    background-color: black;
    width: 264px;
    height: 175px;
    position: absolute;
    opacity: 0;
    border-radius: 5px;
}

.intro-card-hover-text {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    z-index: 2;
    opacity: 0;
    position: absolute;
}

p {
    margin: 0;
}

.intro-card1-main:hover .intro-card-img {
    scale: 1.1;
}

.intro-card1-main:hover .intro-card-hover {
    opacity: 0.3;
}

.intro-card1-main:hover .intro-card-hover-text {
    opacity: 1;
    color: white;
}

.intro-img-text {
    display: flex;
    width: 264px;
    padding-top: 10px;
    font-size: 14px;
    font: bold;
    line-height: 22px;
    font-weight: 600;
}

.intro-img-share {
    display: flex;
    height: 12px;
    width: 12px;
    opacity: 30%;
    padding-right: 5px;

}

.intro-img-share-text {
    color: #949494;
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.comment {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 20px;
}

.gogo-story {
    width: 1100px;
    display: flex;
    padding: 0 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}


.gogo-story-img-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 171px;
    height: 235px;
    overflow: hidden;
}

.gogo-story-logo {
    position: absolute;
    left: 0;
    height: 30px;
    width: 30px;
    padding: 10px;

}

.story-bottom {
    position: absolute;
    padding: 10px;
    font-weight: 500;
    left: 0;
    bottom: 0;
    right: 0;
}

.story-text {
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    height: 37px;
    overflow: hidden;
    margin-bottom: 5px;
}

.see-result {
    color: #ffffff;
    height: 22px;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.gogo-story-img-container:hover .gogo-story-img {
    scale: 1.1;
}

.gogo-story-img-container:hover .story-text {
    height: 74px;
    transform: translateY(-14px);
}

.slide-button-r {
    background-color: rgba(0, 0, 0, .06);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 17px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 20px;
    left: 100%;
    top: 50%;
    cursor: pointer;
}

.slide-button-l {
    background-color: rgba(0, 0, 0, .06);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 17px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 20px;
    right: 100%;
    top: 50%;
    cursor: pointer;
}

.main-calendar {
    width: 770px;
    border-right: 1px solid rgb(234, 232, 232);
}

.calendar-day-border {
    background-color: #407ce8;
    height: 7px;
    border-radius: 20px;
    width: 103px;
    cursor: pointer;
}

.calendar-day-border1 {
    background-color: #EFEFEF;
    height: 7px;
    border-radius: 20px;
    width: 103px;
    cursor: pointer;
}

.calendar-day-text {
    display: flex;
    color: #407ce8;
    justify-content: center;
    cursor: pointer;
}

.calendar-day-text1 {
    display: flex;
    color: #b7b6b6;
    ;
    justify-content: center;
    cursor: pointer;
}

#date-picker {
    background: #efefef;
    height: 27px;
    line-height: 18px;
    width: 27px;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.calendar-days:hover .calendar-day-border1 {
    background-color: #407ce8;
    height: 7px;
    border-radius: 20px;
    width: 103px;
    transition: ease-in-out;
    transition-duration: .5s;
}

.calendar-days:hover .calendar-day-text1 {
    display: flex;
    color: #407ce8;
    justify-content: center;
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: .5s;
}

.calendar-days:hover #date-picker {
    background: #407ce8;
    height: 27px;
    line-height: 18px;
    width: 27px;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: .5s;
}

.news {
    position: relative;
    overflow: hidden;
}

.news-image {
    width: 240px;
    height: 150px;
    cursor: pointer;

}

.news-text {
    width: 480px;
    height: 150px;
    padding-left: 30px;
    cursor: pointer;
}

.news-main-text {
    margin: 0;
    font-size: 19px;
    line-height: 26px;
    font-weight: 700;
    font-family: Helvetica Neue, sans-serif;
}

.news-sub-text {
    height: 46px;
    overflow: hidden;
    color: #888;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 14px;
}

.news-hover {
    background-color: black;
    width: 240px;
    height: 150px;
    position: absolute;
    opacity: 0;
    border-radius: 5px;
    top: 0;
    left: 0;
}

.news-text-hover {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    z-index: 2;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.news:hover .news-image {
    scale: 1.1;
}

.news:hover .news-hover {
    opacity: 0.3;
}

.news:hover .news-text-hover {
    opacity: 1;
    color: white;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    gap: 10px;
}


.poll {
    width: 650px;
    height: 262px;
    background-color: #007aff;
    padding: 20px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px hsla(0, 0%, 100%, .004);
}

.poll-ans-1 {
    display: flex;
    list-style: none;
    align-items: center;
}

.poll-selector {
    display: flex;
    align-items: center;
}

.radio {
    display: inline-block;
    height: 16px;
    width: 16px;
    overflow: hidden;
    margin-top: -4px;
    border-radius: 50%;
}

.poll-text {
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

.poll-ans {
    padding: 15px 10px;
    border: 1px solid #ccc;
    width: 560px;
}

.poll-ans:hover {
    display: flex;
    background-color: #005ec3;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.poll-ans:hover .poll-selector {
    padding-left: 5px;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.button-more {
    background: #f8f8f8;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    gap: 5px;
    padding: 20px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}

.button-more:hover {
    background-color: #ffffff;
    color: #007aff;
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.side-content {
    padding-left: 60px;
    padding-top: 25px;
    margin-bottom: 30px;
}

.article {
    margin-bottom: 30px;
}

.article1 {
    position: relative;
}

.article-main-text {
    display: flex;
    width: 290px;
}

.article-share-text {
    color: #949494;
    display: flex;
    padding-top: 10px;
    align-items: center;
    font-size: 12px;
}

.article-comment {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
}

.article-time {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    gap: 5px;
}

.article-hover {
    background-color: black;
    width: 290px;
    height: 170px;
    position: absolute;
    opacity: 0;
    border-radius: 5px;
    top: 0;
    left: 0;
}

.article-text-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 170px;
    font-size: 14px;
    color: #ffffff;
    z-index: 2;
    opacity: 0;
    position: absolute;
    top: 0;
}

.article:hover .article-hover {
    opacity: 0.3;
}

.article:hover .article-text-hover {
    opacity: 1;
    color: white;
}

.breaking-news {
    background-color: rgb(251, 248, 243);
}

.trend-list {
    padding-left: 30px;
    padding-right: 50px;
}

.trending-news {
    display: flex;
    align-items: center;
    width: 240px;
    height: 28px;
    padding: 30px 50px;
    font-size: 20px;
    font-weight: 700;
    gap: 10px;
}

.trend-list-number {
    font-weight: 700;
    color: #e00034;
    font-size: 46px;
    line-height: 46px;
    padding-right: 15px;
}

.trend-list-1 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted rgb(198, 192, 183);
}

.trend-list-title {
    font-size: 16px;
    color: #000;
}

.trend-list-1:hover .trend-list-number {
    scale: 1.05;
}

.trend-list-1:hover .trend-list-title {
    scale: 1.05;
}

.trend-list-1:hover .article-share-text {
    scale: 1.05;
}

.transition1 {
    transition: ease-in-out;
    transition-duration: .1s;
}

.interview {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

.interview-images {
    display: flex;
    margin: 0;
    padding: 0;

}

#interview-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 20px;
}

.interview-large-img {
    max-height: 500px;
    width: 50%;
    box-sizing: border-box;
    margin-right: 5px;
    position: relative;
    margin-right: 5px;
    ;
    overflow: hidden;
}

.interview-large-img-text {
    color: #ffffff;
    max-width: 100%;
    padding: 30px;
    background: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent);
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 5px;

}

.interview-image {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: top center;

}

.interview-large-img-business-logo {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #407ce8;
    width: 106px;
    height: 26px;
    margin-bottom: 5px;
    padding: 2px 5px;
}

.large-img-main-text {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.large-img-bottom-text {
    display: flex;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid gray
}

.interview-large-img:hover .interview-image {
    scale: 1.1;

}

.interview-large-img:hover .interview-large-img-business-logo {
    opacity: 0.8;
}

.interview-large-img:hover .large-img-main-text {
    opacity: 0.8;
}

.interview-large-img:hover .large-img-bottom-text {
    gap: 20px;
}

.interview-4-img {
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 5px;
}

.interview-mini-image {
    height: 243px;
    width: 260px;
    object-fit: cover;
    object-position: top center;
}

.interview-4-mini-img {
    position: relative;
    max-height: 243px;
}

.interview-mini-img-text {
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px 20px 25px;
    background: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent);
    position: absolute;
    color: #fff;
    max-width: 100%;
}

.interview-mini-img-business-logo {
    background-color: #407ce8;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.mini-img-main-text {
    height: 30px;
    overflow: hidden;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    margin: 0;
}

.interview-4-mini-img:hover .mini-img-main-text {
    height: 50px;
}

.interview-4-mini-img:hover .interview-mini-img-business-logo {
    opacity: 0.8;
}

.gogo-style {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    position: relative;
}

.gogo-style-main {
    display: flex;
    margin-top: 50px;
    gap: 10px;
    position: relative;
}

.gogo-style-image {
    height: 230px;
    width: 263px;
    object-fit: cover;
}

.gogo-style-header {
    display: flex;
}

.gogo-style-main-img {
    position: relative;
    overflow: hidden;
}

.gogo-style-hover {
    background-color: black;
    top: 0;
    bottom: 0;
    width: 263px;
    height: 230px;
    position: absolute;
    opacity: 0;
    border-radius: 5px;
}

.gogo-style-hover-text {
    top: 0;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    z-index: 2;
    opacity: 0;
    position: absolute;
}

.gogo-style-main-img:hover .gogo-style-image {
    scale: 1.1;
}

.gogo-style-main-img:hover .gogo-style-hover {
    opacity: 0.3;
}

.gogo-style-main-img:hover .gogo-style-hover-text {
    opacity: 1;
    color: #fff;
}

.gogo-style-bottom:hover {
    background-color: #fafafa;
}

.gogo-style-bottom {
    width: 263px;
    height: 108px;
    border: 1px solid rgb(239, 239, 239);
}

.gogo-style-bottom-text {
    height: 72px;
    width: 242px;
    font-weight: 500px;
    font-size: 16px;
    line-height: 24px;
}

.gogo-style-bottom-see {
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(239, 239, 239);
    padding-top: 5px;
    margin-top: 10px;
}

.gogo-style-share {
    display: flex;
    height: 12px;
    width: 12px;
    opacity: 30%;
    padding-right: 5px;

}

.gogo-style-comment {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
}

.slide-button-r {
    background-color: rgba(0, 0, 0, .06);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 17px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 20px;
    left: 100%;
    top: 40%;
    cursor: pointer;
}

.slide-button-l {
    background-color: rgba(0, 0, 0, .06);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 17px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 20px;
    right: 100%;
    top: 40%;
    cursor: pointer;
}

.gogo-technology {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    position: relative;
}

.gogo-technology-main {
    display: flex;
    margin-top: 50px;
    gap: 10px;
    position: relative;
}

.gogo-technology-image {
    height: 170px;
    width: 263px;
    object-fit: cover;
}

.gogo-technology-header {
    display: flex;
}

.gogo-technology-main-img {
    position: relative;
    overflow: hidden;
}

.gogo-technology-hover {
    background-color: black;
    top: 0;
    bottom: 0;
    width: 263px;
    height: 170px;
    position: absolute;
    opacity: 0;
    border-radius: 5px;
}

.gogo-technology-hover-text {
    top: 0;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    z-index: 2;
    opacity: 0;
    position: absolute;
}

.gogo-technology-main-img:hover .gogo-technology-image {
    scale: 1.1;
}

.gogo-technology-main-img:hover .gogo-technology-hover {
    opacity: 0.3;
}

.gogo-technology-main-img:hover .gogo-technology-hover-text {
    opacity: 1;
    color: #fff;
}

.gogo-technology-bottom:hover {
    background-color: #fafafa;
}

.gogo-technology-bottom {
    width: 263px;
    height: 108px;
    border: 1px solid rgb(239, 239, 239);
}

.gogo-technology-bottom-text {
    height: 72px;
    width: 242px;
    font-weight: 500px;
    font-size: 16px;
    line-height: 24px;
}

.gogo-technology-bottom-see {
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(239, 239, 239);
    padding-top: 5px;
    margin-top: 10px;
}

.gogo-technology-share {
    display: flex;
    height: 12px;
    width: 12px;
    opacity: 30%;
    padding-right: 5px;

}

.gogo-technology-comment {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
}

.gogo-comic {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    position: relative;
}

.gogo-comic-main {
    display: flex;
    margin-top: 50px;
    gap: 10px;
    position: relative;
    cursor: pointer;
}

.gogo-comic-image {
    height: 200px;
    width: 542.5px;
    object-fit: cover;
}

.gogo-comic-header {
    display: flex;
}

.gogo-comic-main-img {
    position: relative;
    overflow: hidden;
}

.gogo-comic-hover {
    background-color: black;
    top: 0;
    bottom: 0;
    height: 200px;
    width: 542.5px;
    position: absolute;
    opacity: 0;
    border-radius: 5px;
}

.gogo-comic-hover-text {
    top: 0;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    z-index: 2;
    opacity: 0;
    position: absolute;
}

.gogo-comic-main-img:hover .gogo-comic-image {
    scale: 1.1;
}

.gogo-comic-main-img:hover .gogo-comic-hover {
    opacity: 0.3;
}

.gogo-comic-main-img:hover .gogo-comic-hover-text {
    opacity: 1;
    color: #fff;
}

.gogo-comic-bottom:hover {
    background-color: #fafafa;
}

.gogo-comic-bottom {
    height: 130px;
    width: 522.5px;
    border: 1px solid rgb(239, 239, 239);
    padding: 10px;
    cursor: pointer;
}

.gogo-comic-bottom-text {
    height: 72px;
    width: 520.5px;
    font-weight: 600px;
    font-size: 16px;
    line-height: 24px;
}

.gogo-comic-bottom-see {
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(239, 239, 239);
    padding-top: 5px;
    margin-top: 10px;
}

.gogo-comic-share {
    display: flex;
    height: 12px;
    width: 12px;
    opacity: 30%;
    padding-right: 5px;

}

.gogo-comic-comment {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
}

.live-section {
    display: flex;
    width: 100vw;
    background-color: #000;
    height: 700px;
    margin-top: 60px;
    padding-top: 50px;
    justify-content: center;
}

.live-section-main {
    width: 1100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.live-section-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.gogo-live-image {
    height: 170px;
    width: 263px;
    object-fit: cover;

}

.gogo-live-main-article {
    display: flex;
}

.gogo-live-logo {
    position: absolute;
    top: 0;
    left: 0;
}

.gogo-live-header {
    display: flex;
}

.gogo-live-main-img {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.gogo-live-hover {
    background-color: black;
    top: 0;
    bottom: 0;
    width: 263px;
    height: 170px;
    position: absolute;
    opacity: 0;
    border-radius: 5px;
}

.gogo-live-hover-text {
    top: 0;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    z-index: 2;
    opacity: 0;
    position: absolute;
}

.gogo-live-main-img:hover .gogo-live-image {
    scale: 1.1;
}

.gogo-live-main-img:hover .gogo-live-hover {
    opacity: 0.3;
}

.gogo-live-main-img:hover .gogo-live-hover-text {
    opacity: 1;
    color: #fff;
}


.gogo-live-bottom {
    width: 263px;
    height: 108px;
    margin-bottom: 50px;
    cursor: pointer;
}

.gogo-live-bottom-text {
    color: #fff;
    height: 72px;
    width: 242px;
    font-weight: 500px;
    font-size: 16px;
    line-height: 24px;
}

.gogo-live-bottom-see {
    color: #fff;
    display: flex;
    align-items: center;
    padding-top: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.gogo-live-share {
    color: #fff;
    display: flex;
    height: 12px;
    width: 12px;
    opacity: 30%;
    padding-right: 5px;
}

.gogo-live-comment {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
}

.gogo-live {
    margin-right: 15px;
}

.footer {
    width: 1100px;
}

.footer-top {
    display: flex;
    align-items: center;
}

.footer-right {
    display: flex;
    width: 950px;
    justify-content: flex-end;
    gap: 30px;
}

.footer-right-1 {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.footer-right-1:hover{
    color: #005ec3;
}
.footer-right-1-img {
    width: 15px;
    height: 20px;
}

.footer-bottom-logo {
    gap: 10px;
    display: flex;
}

.footer-bottom-logo-1{
    opacity: 0.5;
    cursor: pointer;
}

.footer-bottom-logo-1:hover{
    opacity: 1;
}